*{
	margin: 0;
	padding: 0;

}
html, body{
	margin: 0;
	padding: 0;
}
#page-bodyOmmig{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfyYtemBNw9kAfVDC5CDe7gq4SBnH66P0w2tMeQqCwv6l5tCNi8Q");
}
#page-headerOmmig{
	min-height: 100px;
	height: auto;
	width: 100%;
	background-color: black;
}
#page-navigationOmmig{
	min-height: 50px;
	width: 100%;
	height: auto;
	background: orange;
}
a.link-hem{
	color: black;
}
h1.nav-hem{
	float: left;
}
a.link-skola{
	color: black;
}

a.link-ommig{
	color: black;
}
h1.nav-ommig{
	float: right;
}
.col-1-3{
	display: inline-block;
	width: 33%
}
#page-footerOmmig{
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;	
  padding: 1rem;
  background-color: black;
  text-align: center;
  margin: auto;
  
}